.site {

	.site-header {
		display: none !important;
	}

	.site-footer {
		display: none !important;
	}

	.main-header {
		width: 100%;
		// margin: auto;
		// padding-left: 123px !important;
		// padding-right: 126px !important;
		padding: 0 126px 0 123px !important;
		height: 88px;

		@include respond(sm) {
			width: 100%;
			margin: auto;
			padding: 10px !important;
			height: 88px;
		}
	}
}
